xml-resources/jaxb/MunicipalServicePayment/MunicipalServicePayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="XSD" nxsd:parseBom="true">
    <xsd:element name="payments" type="PaymentsType"/>
    <xsd:complexType name="PaymentsType">
        <xsd:sequence>
            <xsd:element name="systemID" type="IdSystemType">
                <xsd:annotation>
                    <xsd:documentation>id системы</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="month">
                <xsd:annotation>
                    <xsd:documentation>Месяц</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:maxInclusive value="12"/>
                        <xsd:minInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="year">
                <xsd:annotation>
                    <xsd:documentation>Год</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="1920"/>
                        <xsd:maxInclusive value="2050"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="payment" type="PaymentType"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentType">
        <xsd:sequence>
            <xsd:element name="id" type="IdType">
                <xsd:annotation>
                    <xsd:documentation>id объекта в системе</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accountId" type="IdType">
                <xsd:annotation>
                    <xsd:documentation>id лицевого счета</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bankAccountId" type="IdType">
                <xsd:annotation>
                    <xsd:documentation>id лицевого счета</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="paymentDocumentNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер платежного документа</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="codeService" type="IdType">
                <xsd:annotation>
                    <xsd:documentation>код жилищной услуги</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rate">
                <xsd:annotation>
                    <xsd:documentation>Тариф</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="10"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="2"/>
                        <xsd:pattern value="\d+(\.\d{2})?"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="moneyRecalculation" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Перерасчеты, корректировки (руб)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="2"/>
                        <xsd:totalDigits value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="moneyDiscount" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Льготы, субсидии, скидки (руб)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="20"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="2"/>
                        <xsd:pattern value="\d+(\.\d{2})?"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="volume1">
                <xsd:annotation>
                    <xsd:documentation>Объем индивидуального потребления</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="VolumeType">
                            <xsd:attribute name="type">
                                <xsd:annotation>
                                    <xsd:documentation>Тип предоставления
                                                       услуги:
                                                       (I)ndividualConsumption -
                                                       индивидульное потребление</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="I"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="volume2">
                <xsd:annotation>
                    <xsd:documentation>Объем общедомовые нужды</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="VolumeType">
                            <xsd:attribute name="type">
                                <xsd:annotation>
                                    <xsd:documentation>Тип предоставления
                                                       услуги:
                                                       (I)ndividualConsumption -
                                                       индивидульное потребление</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="I"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="individualConsumptionCurrentValue" type="VolumeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Текущие показания приборов учёта коммунальных услуг - индивидульное потребление</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="houseOverallNeedsCurrentValue" type="VolumeType" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>Текущие показания приборов учёта коммунальных услуг - общедомовые нужды</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="houseTotalIndividualConsumption" type="VolumeType" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>Суммарный объём коммунальных услуг в доме - индивидульное потребление</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="houseTotalHouseOverallNeeds" type="VolumeType" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>Суммарный объём коммунальных услуг в доме - общедомовые нужды</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="houseOverallNeedsNorm" type="VolumeType" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>Норматив потребления коммунальных услуг - общедомовые нужды</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="individualConsumptionNorm" type="VolumeType" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>Норматив потребления коммунальных услуг - индивидульное потребление</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="MunicipalServiceIndividualConsumptionPayable" type="MoneyType" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>К оплате за индивидуальное потребление коммунальной услуги, руб.</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="MunicipalServiceCommunalConsumptionPayable" type="MoneyType" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>К оплате за общедомовое потребление коммунальной услуги, руб.</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="paymentPeriodPiecemealPaymentSum" minOccurs="0">
		<xsd:annotation>
                    <xsd:documentation>Сумма платы с учётом рассрочки платежа - от платы за расётный период, руб</xsd:documentation>
		</xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="pastPaymentPeriodPiecemealPaymentSum" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>Сумма платы с учётом рассрочки платежа - от платы за предыдущие расчётные периоды</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:fractionDigits value="2"/>
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="9999999999.99"/>
				</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
            <xsd:element name="piecemealPaymentPercentRub" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Проценты за рассрочку, руб.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="2"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999.99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="piecemealPaymentPercent" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Проценты за рассрочку, %</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="100"/>
                        <xsd:fractionDigits value="2"/>
                        <xsd:totalDigits value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="piecemealPaymentSum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сумма к оплате с учётом рассрочки платежа
                                       и процентов за рассрочку</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="2"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999.99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="recalculationReason" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Основания перерасчётов</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="recalculationSum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сумма</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="2"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999.99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="debtPreviousPeriods" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Задолженность за предыдущие периоды, руб.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999999.99"/>
                        <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="advanceBllingPeriod" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Аванс на начало расчетного периода, руб.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999999.99"/>
                        <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="totalPaymentSum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сумма к оплате с учетом рассрочки платежа
                                       и процентов за рассрочку, руб.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999.99"/>
                        <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TotalPayable" type="MoneyType">
		<xsd:annotation>
                    <xsd:documentation>Итого к оплате за расчетный период, руб.</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
	    <xsd:element name="AccountingPeriodTotal" type="MoneyType">
		<xsd:annotation>
                    <xsd:documentation>Всего начислено за расчетный период (без перерасчетов и льгот), руб.</xsd:documentation>
		</xsd:annotation>
            </xsd:element>
            <xsd:element name="CalcExplanation">
		<xsd:annotation>
                    <xsd:documentation>Порядок расчетов</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
                    <xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="500"/>
                    </xsd:restriction>
		</xsd:simpleType>
            </xsd:element>
            <xsd:element name="expose" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Выставлен на оплату</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="action" type="ActionType">
                <xsd:annotation>
                    <xsd:documentation>действие над записью</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="IdSystemType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IdType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="VolumeType">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2"/>
            <xsd:minInclusive value="0"/>
            <xsd:totalDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GUIDType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
        </xsd:restriction>
    </xsd:simpleType>
	<xsd:simpleType name="MoneyType">
		<xsd:annotation>
			<xsd:documentation>Сумма</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:fractionDigits value="2"/>
			<xsd:pattern value="\d+(\.\d{2})?"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="ActionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADD"/>
            <xsd:enumeration value="UPDATE"/>
            <xsd:enumeration value="NONE"/>
            <xsd:enumeration value="Add"/>
            <xsd:enumeration value="Update"/>
            <xsd:enumeration value="None"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
