xml-resources/jaxb/ContractRSO/ContractRSO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by any (Ru-Board) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="contracts" type="ContractsType"/>
	<xsd:complexType name="ContractsType">
		<xsd:sequence>
			<xsd:element name="systemID" type="IdSystemType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contract" type="ContractType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContractType">
		<xsd:sequence>
			<xsd:element name="id" type="IdType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comptetionDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Start">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="StartDate">
										<xsd:annotation>
											<xsd:documentation></xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:byte">
												<xsd:maxInclusive value="30"/>
												<xsd:minInclusive value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="NextMonth" type="xsd:boolean" fixed="true" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation></xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="End">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EndDate">
										<xsd:annotation>
											<xsd:documentation></xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:byte">
												<xsd:maxInclusive value="30"/>
												<xsd:minInclusive value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="NextMonth" type="xsd:boolean" fixed="true" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation></xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ContractBase" type="IdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="secondSide">
				<xsd:complexType>
					<xsd:choice>
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
						<xsd:element name="Offer" type="xsd:boolean" fixed="true">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="sides">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="secondSideType">
										<xsd:annotation>
											<xsd:documentation></xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="AO"/>
												<xsd:enumeration value="LO"/>
												<xsd:enumeration value="UO"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="side">
										<xsd:annotation>
											<xsd:documentation></xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="RegOrgOGRN">
													<xsd:annotation>
														<xsd:documentation></xsd:documentation>
													</xsd:annotation>
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="15"/>
															<xsd:minLength value="13"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="Ind" type="IndType">
													<xsd:annotation>
														<xsd:documentation></xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CountingResource" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="P"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ObjectAddress" minOccurs="0" maxOccurs="1000">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ObjectAddressType">
							<xsd:sequence>
								<xsd:element name="Pair" maxOccurs="100">
									<xsd:annotation>
										<xsd:documentation></xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="ServiceType" type="IdType">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="MunicipalResource" type="IdType">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="StartSupplyDate" type="xsd:date">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="EndSupplyDate" type="xsd:date">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="HeatingSystemType" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="OpenOrNot">
															<xsd:annotation>
																<xsd:documentation></xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:enumeration value="Opened"/>
																	<xsd:enumeration value="Closed"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
														<xsd:element name="CentralizedOrNot">
															<xsd:annotation>
																<xsd:documentation></xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:enumeration value="Centralized"/>
																	<xsd:enumeration value="Decentralized"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TemperatureChart" minOccurs="0" maxOccurs="1000">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OutsideTemperature" type="xsd:int">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FlowLineTemperature" type="xsd:positiveInteger">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OppositeLineTemperature" type="xsd:positiveInteger">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Contract">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="isContract" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ContractNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="30"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SigningDate" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EffectiveDate" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ContractSubject" maxOccurs="100">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="ContractSubjectType">
										<xsd:sequence>
											<xsd:element name="PlannedVolume" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="Volume" type="VolumeType">
															<xsd:annotation>
																<xsd:documentation></xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="Unit">
															<xsd:annotation>
																<xsd:documentation></xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:pattern value="\d{3}"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
														<xsd:element name="FeedingMode">
															<xsd:annotation>
																<xsd:documentation></xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:maxLength value="250"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ContractAttachment" type="AttachmentType" minOccurs="0" maxOccurs="100">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:sequence>
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
							<xsd:element name="BillingDate" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation></xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:byte">
										<xsd:maxInclusive value="30"/>
										<xsd:minInclusive value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PaymentDate" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation></xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:byte">
										<xsd:maxInclusive value="30"/>
										<xsd:minInclusive value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ProvidingInformationDate" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation></xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:byte">
										<xsd:minInclusive value="1"/>
										<xsd:maxInclusive value="30"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dateAction" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reason" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonOfAnnulment" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sourceOGRN" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
						<xsd:minLength value="13"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="action" type="ActionType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContractSubjectType">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceType" type="IdType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MunicipalResource" type="IdType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectionScheme" type="ConnectionSchemeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartSupplyDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndSupplyDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Quality" minOccurs="0" maxOccurs="100">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QualityIndicator" type="IdType">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="IndicatorValue">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:choice>
										<xsd:annotation>
											<xsd:documentation></xsd:documentation>
										</xsd:annotation>
										<xsd:element name="Number" type="VolumeType">
											<xsd:annotation>
												<xsd:documentation></xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:sequence>
											<xsd:annotation>
												<xsd:documentation></xsd:documentation>
											</xsd:annotation>
											<xsd:element name="StartRange" type="VolumeType">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="EndRange" type="VolumeType">
												<xsd:annotation>
													<xsd:documentation></xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:choice>
									<xsd:element name="OKEI">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:pattern value="\d{3}"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherQualityIndicator" minOccurs="0" maxOccurs="100">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IndicatorName" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Number" type="VolumeType">
							<xsd:annotation>
								<xsd:documentation></xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OKEI">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d{3}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="VolumeType">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdSystemType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GUIDType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IndType">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="firstName">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="lastName">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="middleName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sex" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1"/>
						<xsd:enumeration value="M"/>
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SNILS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\d{11}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="docType" type="IdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docSeries" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="docNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="docBeginDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObjectAddressType">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HouseType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="MKD"/>
						<xsd:enumeration value="ZHD"/>
						<xsd:enumeration value="ZHDBlockZastroyki"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="houseID" type="IdType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ApartmentNumber" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RoomNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="MeteringValueType">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="4"/>
			<xsd:maxInclusive value="999999999999999.9999"/>
			<xsd:minInclusive value="0"/>
			<xsd:pattern value="\d+\.\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HeatingSystemType">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Opened"/>
			<xsd:enumeration value="Closed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConnectionSchemeType">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Dependent"/>
			<xsd:enumeration value="Independent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AttachmentType">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Description">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="500"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AttachmentID" type="IdType">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AttachmentHASH">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ADD"/>
			<xsd:enumeration value="UPDATE"/>
			<xsd:enumeration value="TERMINATE"/>
			<xsd:enumeration value="ROLLOVER"/>
			<xsd:enumeration value="NONE"/>
			<xsd:enumeration value="ANNULMENT"/>
			<xsd:enumeration value="Add"/>
			<xsd:enumeration value="Update"/>
			<xsd:enumeration value="Terminate"/>
			<xsd:enumeration value="Rollover"/>
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="Annulment"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
